<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageos_opensearch_hybrid>
            <general>
                <enabled>0</enabled>
                <included_stores></included_stores>
            </general>
            <encoder>
                <endpoint></endpoint>
                <allowed_hosts></allowed_hosts>
                <connect_timeout_ms>100</connect_timeout_ms>
                <query_timeout_ms>350</query_timeout_ms>
                <document_timeout_seconds>30</document_timeout_seconds>
                <batch_size>16</batch_size>
                <max_outstanding_batches>8</max_outstanding_batches>
            </encoder>
            <opensearch>
                <connect_timeout_ms>100</connect_timeout_ms>
                <read_timeout_ms>750</read_timeout_ms>
            </opensearch>
            <similarity>
                <enabled>0</enabled>
            </similarity>
            <reliability>
                <job_max_attempts>5</job_max_attempts>
                <failure_threshold>3</failure_threshold>
                <circuit_open_seconds>30</circuit_open_seconds>
                <previous_generation_retention_days>14</previous_generation_retention_days>
            </reliability>
            <privacy>
                <query_logging>0</query_logging>
            </privacy>
        </mageos_opensearch_hybrid>
    </default>
</config>
