<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mageos_opensearch_hybrid" frontName="mageos_opensearch_hybrid">
            <module name="MageOS_OpenSearchHybrid"/>
        </route>
    </router>
</config>
